SUPABASE_DB_URL=jdbc:postgresql://HOST:PORT/postgres?sslmode=require
SUPABASE_DB_USER=postgres.xxxxx
SUPABASE_DB_PASSWORD=your-password
o file .env như này:
SUPABASE_DB_URL=jdbc:postgresql://aws-1-ap-southeast-2.pooler.supabase.com:5432/postgres?sslmode=require
SUPABASE_DB_USER=postgres.prqypbfauhcxwnidcdxr
SUPABASE_DB_PASSWORD=MAT_KHAU_DATABASE_CUA_BAN